---
import { contentfulClient } from "../lib/contentful";
import type { Navigation } from "../lib/contentful";

const entries = await contentfulClient.getEntries<Navigation>({
  content_type: 'navigation'
})

const links = entries.items.map((item) => {
  const { title, slug } = item.fields
  
  return {
    title,
    slug
  }
})
--- 

<nav class="fixed left-0 top-0 ">
  <ul>
    {links.map((link) => (
      <li>
        <a href={`/${link.slug}`}>{link.title}</a>
      </li>
    ))}
  </ul>
</nav>
